@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 1rem;
  line-height: 2rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin: 1rem 0px;
}

img {
  display: block;
  width: 200px;
  height: auto;
  margin-right: 1rem;
}

li {
  list-style: none;
}

.btn-back {
  display: inline-block;
  background: rgba(255, 255, 255, .60);
  color: rgb(44, 42, 42);
  padding: .5rem;
  font-weight: 700;
  margin-top: 5rem;
}

.btn-back:hover {
  color: rgb(87, 86, 86);
}
